<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pelicula</title>
    <!-- Agregar la referencia a los archivos CSS de Bootstrap (localmente o a través de CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
		
    <div class="container mt-5">
        <h1 class="mt-5">Editar de Usuario</h1>
        <form action="/pelicula/edit" method="post">
        
        	<div class="form-group">
                <label for="idPelicula">ID de Película</label>
            
                <input type="hidden" th:value="${pelicula.idPelicula}" id="idPelicula" name="idPelicula" />
            </div>

            <div class="form-group">
                <label for="nombre">Nombre de la Película</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${pelicula.nombre}" required>
            </div>

            <div class="form-group">
                <label for="director">Director</label>
                <input type="text" class="form-control" th:value="${pelicula.director}" id="director" name="director" required>
               
            </div>

            <div class="form-group">
                <label for="fechaEstreno">Fecha de Estreno</label>
                <input type="date" class="form-control" id="fechaEstreno" name="fechaEstreno" required>
            </div>

            <div class="form-group">
                <label for="genero">Género</label>
                <input type="text" class="form-control" id="genero" name="genero" th:value="${pelicula.genero.nombre}" required>
            </div>
            

            <button type="submit" class="btn btn-primary">Editar Pelicula</button>
        </form>
    </div>
    
    <!-- Agregar la referencia a los archivos JavaScript de Bootstrap (localmente o a través de CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>